@model Order

@{
    ViewData["Title"] = "Create";
}


@foreach (var modelState in ViewData.ModelState.Values)
{
    foreach (var error in modelState.Errors)
    {
        @: @error.ErrorMessage
    }
}



<form asp-action="Create" asp-controller="Orders">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="x_content">
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th>

                        </th>
                        <th class="column-title">
                            @Html.DisplayNameFor(o => o.OrderMeals.First().Quantity)
                        </th>
                        <th class="column-title">
                            @Html.DisplayNameFor(o => o.OrderMeals.First().Meal.Name)
                        </th>
                        <th class="column-title">
                            @Html.DisplayNameFor(o => o.OrderMeals.First().Meal.Price)
                        </th>
                        <th class="column-title">
                            @Html.DisplayNameFor(o => o.OrderMeals.First().Meal.Weight)
                        </th>
                        <th class="column-title">
                            @Html.DisplayNameFor(o => o.OrderMeals.First().Meal.Category.CategoryName)
                        </th>
                        <th class="column-title">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int index = -1;
                    }
                    @foreach (var orderMeal in Model.OrderMeals)
                    {
                        index++;
                        <tr class="even pointer">
                            <td class="a-center ">
                                <input type="hidden" name="OrderMeals[@index].Meal.Id" asp-for="@orderMeal.Meal.Id"/>
                                @*<input type="checkbox" name="OrderMeals[@index].IsSelected" for="@orderMeal.IsSelected" class="flat" style="position: absolute; opacity: 0;"/>*@
                                @Html.CheckBox($"OrderMeals[{index}].IsSelected", false, new { @class = "flat", name = $"OrderMeals[{index}].IsSelected", style = "position: absolute; opacity: 0;", @for = orderMeal.IsSelected})
                            </td>
                            <td class="col-md-1">
                                <input type="text" name="OrderMeals[@index].Quantity" asp-for="@orderMeal.Quantity" class="form-control"/>
                            </td>
                            <td class=" ">
                                <input type="hidden" name="OrderMeals[@index].Meal.Name" asp-for="@orderMeal.Meal.Name"/>                                 
                                <label>
                                    @orderMeal.Meal.Name
                                </label>
                            </td>
                            <td class=" ">
                                <label>
                                    @orderMeal.Meal.Price
                                </label>
                            </td>
                            <td class=" ">
                                <lable>
                                    @orderMeal.Meal.Weight
                                </lable>
                            </td>
                            <td class=" ">
                                <label>
                                    @if (orderMeal.Meal.Category == null)
                                    {
                                        @: none
                                    }
                                    else
                                    {
                                        @: @orderMeal.Meal.Category.CategoryName
                                    }
                                </label>
                            </td>
                            <td>
                                <a asp-controller="Meals" asp-action="Details" asp-route-id="@orderMeal.Meal.Id">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
